<div>

    <div id="privacy">
        <p style=color:#29BFFD>
            COOL MATH GAMES PRIVACY POLICY <br>
        </p>
    
        <p style=color:white;>
            If you believe that your own copyrighted content is on our Site without your permission, 
            please follow this Copyright Infringement Notice procedure.
        </p>
    </div>
    
    
    <div id="bottom-footer">
        <div class="row">
            <div class="col-2">
                <h5 style=color:white;>COOLMATH</h5>
                <ul style=color:aqua; class="nav-flex-column">
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">About Us</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Terms of Use</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">About Our Ads</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Subscription FAQ</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Adblock FAQ</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Subscription Support</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Blog</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">CONTACT US</a></li>



                </ul>
            </div>

            <div class="col-2">
                <h5 style=color:white;>BROWSE GAMES</h5>
                <ul class="nav-flex-column">
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Strategy Games</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Skill Games</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Number Games</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Logic Games</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Memory Games</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Classic Games</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Jigsaw Puzzles</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Science Games</a></li>



                </ul>
            </div>

            <div class="col-2">
                <h5 style=color:white;>MATH</h5>
                <ul class="nav-flex-column">
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Pre-Algebra</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Algebra</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Pre-Calc</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Math Dictionary</a></li>
                    <li class="nav-item mb-2"><a href="#" style=color:#20BFFD;>Lines</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Factors and Primes</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Decimals</a></li>


                </ul>
            </div>

            <div class="col-2">
                <h5 style=color:white;>MORE FROM COOLMATH</h5>
                <ul class="nav-flex-column">
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Coolmath Coding</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Coolmath4Kids</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Ten Fram Manipulative</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Base Ten Blocks Manipulative</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Math Quizzes</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5 style=color:white;>FOLLOW US</h5>
                <ul class="nav-flex-column">
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">TikTok</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Twitter</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Instagram</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">Facebook</a></li>
                    <li class="nav-item mb-2"><a style=color:#20BFFD; href="#">YouTube</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1">
                <h5>SELECT A LANGUAGE</h5>


                <div class="dropdown">
                    <span>English</span>
                    <div class="dropdown-content">
                        <p>Espanol</p>
                        <p>Portugues</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p style=color:white;>© 2022 Coolmath.com LLC All Rights Reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg></a></li>
        </ul>
    </div>
</div>