body{
    background-color:rgb(4, 5, 68);
}

header{
    /*contains the image*/
    width: 34%;
    margin:0 auto;
    padding: 3em 0;
}

#head-section{
    background-color: #2A455D;
    height: 10em;
}

#game-header{
    background-color: #2C6792;
    color: white;
    font-size: medium;
    font-weight: bolder;
    border-radius: 6px;
    width: 28%;
    margin: 5px 0;
    margin-left: 24.8em;
    padding-left: 10px;
}

#genre-header{
    background-color: #2C6792;
    color: white;
    font-size: medium;
    font-weight: bolder;
    border-radius: 6px;
    width: 59%;
    margin: 10px 0;
    margin-left: 23em;
    padding-left: 10px;
    }

.footer{
    padding-top: 300px;
}

