#image{
    margin: auto 350px;
}

#title{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    margin-left: 300px;
}

#instructions{
    color:white;
    font-size: 30px;
    font-weight: bolder;
}

#full-inst{
    margin-left: 325px;
}

#inst{
    color: white;
}