

<div class="row">

  <div id="genre-header">
    POPULAR CATEGORIES
  </div>

  <div class="inner-row">
    <div class="col">
      <div class="card mb-3" style="max-width: 350px;" id="game-tile">

        <div class="row g-0">
          <div class="col-md-4">

            <img src="./assets/classic-games-icon.png" class="img-fluid rounded-start" alt="..."
              id="classic-games-icon">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Classic Games</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3" style="max-width: 350px;" id="game-tile">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/aiming-games-icon.png" class="img-fluid rounded-start" alt="..." id="genre-icon"
              width="90">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Aiming Games</h5>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card mb-3" style="max-width: 350px;" id="game-tile">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/timing-games-icon.png" class="img-fluid rounded-start" alt="..." id="timing-games-icon"
              width="90">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Timing Games</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>