<div class="tile">

  <div routerLink="Box-Factory" class="card mb-3" style="max-width: 580px;" id="game-tile" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{img}} class="img-fluid rounded-start" alt="..." id="game-logo" width="200" >
      </div>
      <div class="col-md-8">
        <div class="card-body" >
          <h5 class="card-title" >
            <!--Box Factory-->{{title}}
          </h5>
          <p class="card-text">
            <!--These boxes are all scattered, it's up to you to
              push them back in their rightful place! Watch your step and stay on the floating factory.-->
            {{description}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="card mb-3" style="max-width: 580px;" id="game-tile">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/dark-light-swap-logo.png" class="img-fluid rounded-start" alt="..." id="game-logo"
          width="200">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Dark Light Swap</h5>
          <p class="card-text">Combine the powers of dark and light to reach the portal.
            Push walls out of your way, and build a whole new path!
          </p>
        </div>
      </div>
    </div>
  </div>
-->
</div>