#game-tile{
 background-color: rgb(4, 5, 68);
 margin-left: 25em;
}

.card-title{
   color: #29BFFD;
}

.card-title:hover{
    text-decoration: underline;
}

.card-text{
    color: white;
}

#game-logo{
    /*perhaps find out a way to align the image..?*/
    align-content: center;
    border: 8px solid #2C6792;
}

#game-header{
    background-color: #2C6792;
    color: white;
    font-size: medium;
    font-weight: bolder;
    border-radius: 6px;
    width: 28%;
    margin: 5px 0;
    margin-left: 24.8em;
    padding-left: 10px;
}
