<div id="game-header">
    PLAYLISTS
</div>

<div id="playlist-section">
    <div class="row">
        <div class="card" style="width: 23rem;">
            <img src="./assets/Multiplayer-Games-Playlist.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Multiplayer Games</p>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="./assets/eatallthethings.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Eat All the Things!</p>
            </div>
        </div>

        <div class="card" style="width: 23rem;">
            <img src="./assets/Math-Games-Playlist-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Our Favorite Math Games</p>
            </div>
        </div>
    </div>

</div>