<div id="trivia-cards">
    <div class="card mb-3" style="max-width: 540px;" id="cards">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="./assets/Animal-Noses.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="card-title">QUIZ THIS</h5>
                    <h5 class="card-title" id="card-header">Animal Noses</h5>
                    <p class="card-text">See a sniffer, name the critter.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;" id="cards">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="./assets/Things-Without-Color.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="card-title">FUN STUFF</h5>
                    <h5 class="card-title" id="card-header">Things Without Colors</h5>
                    <p class="card-text">Can you see past black and white?</p>
                </div>
            </div>
        </div>
    </div>
</div>