#trivia-cards{
    margin-left: 450px;
}

#card-title{
    color: #E39321;
    font-size: 25;
}

#card-header:hover{
    text-decoration: underline;
}

#card-header{
    font-size: 30px;
}

#cards{
    padding:20px, white;
}