<nav class="navbar">
    <div class="container">



        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn">STRATEGY</button>
            <button type="button" class="btn">SKILL</button>
            <button type="button" class="btn">NUMBERS</button>
            <button type="button" class="btn">LOGIC</button>
            <button routerLink="Trivia" type="button" class="btn">TRIVIA</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  MORE
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">CLASSIC</a></li>
                  <li><a class="dropdown-item" href="#">WORD GAMES</a></li>
                  <li><a class="dropdown-item" href="#">PUZZLES</a></li>
                  <li><a class="dropdown-item" href="#">MEMORY</a></li>
                  <li><a class="dropdown-item" href="#">GEOGRAPHY</a></li>
                  <li><a class="dropdown-item" href="#">SCIENCE</a></li>
                </ul>
              </div>
            
              <button routerLink="Playlists" type="button" class="btn">PLAYLISTS</button>
            <button type="button" class="btn">RANDOM!</button>
            <button type="button" class="btn">DAILY GAMES</button>



        </div>
        <button type="button" class="btn">ALL GAMES A-Z</button>

        <div>

        </div>

        <div class="dropstart">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
            </button>
            <ul class="dropdown-menu">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search by game name" aria-label="Search" id="search-box">
                        </form>
                    </div>
                </nav>
            </ul>
        </div>
    </div>
</nav>