.btn-group{
    background-color: #fffd42;
    /*find out a way to center and pad everything on one line
    otherwise this is as big as it can get without going to a 2nd line*/
    border-radius: 6px;
    padding: 1.5px;
   
}

.btn{
    background-color: #fffd42;
    color: #654900;
    font-weight:400;
    margin-right: 1px;
    border-right: 1px solid black;

}

.navbar{
}

.btn-drop{
    background-color: #fffd42;
}

.btn.drop-left{
    background-color: #fffd42;
    

}

#search-box{
width: 12em;
}